body {
    margin:0;
    background-color: #F7BA44;
}

.background {
    height: 100vh;
    background: linear-gradient(176deg, #F9DF9F 30%, #F7BA44 25%)
}

.icon {
    position: fixed;
    width: 50vh;
    height: auto;
    left: 20vw;
    top: 9vh;
}

.profile {
    position: fixed;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    background: #D8A136;
    right: 20vw;
    top: 12vh;
}

.profile-balance {
    position: fixed;
    border-radius: 30px;
    background: #DC950B;
    width: 10vw;
    height: 3vw;
    right: 23vw;
    top: 21vh;
    transform: rotate(-5deg)
}